* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f4f4;
}
.box {
  /* width: 300px; */
  background-color: #fff;
  padding: 20px;
  /* margin: 10px; */
  border: 2px solid #ddd;
  border-radius: 10px;
  transition: all 2s ease;
}
.img {
  width: 100%;
}
.box:hover {
  transform: scale(1.1);
}

.parent-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
#box-1 {
  grid-column-start: 1;
  grid-column-end: 5;
}
